body {
  background-color: black;
  margin: 40px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-spacing: 20px;
  color: goldenrod;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.block:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(237, 193, 16, 0.5);
}

.homeSection {
  color: goldenrod;
  padding: 160px;

  text-align: left;
}
a {
  color: rgb(218, 165, 32);
  text-decoration: none;
}

.block {
  text-align: center;
}
.icons {
  width: 10px; /* Adjust the size as needed */
  height: auto;
  margin: 10px; /* Adjust spacing between icons */
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.icon1:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(237, 193, 16, 0.5);
}
.icon2:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(237, 193, 16, 0.5);
}
.skillSection {
  color: goldenrod;
  padding: 20px;
  text-align: left;
}
